# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [2]:
import pandas as pd
import numpy as np

C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:172: RuntimeWarning: divide by zero encountered in exp2
  eps=exp2(ld(-112)),
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:51: RuntimeWarning: divide by zero encountered in log10
  self.precision = int(-log10(self.eps))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:52: RuntimeWarning: divide by zero encountered in power
  self.resolution = float_to_float(float_conv(10) ** (-self.precision))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:184: RuntimeWarning: divide by zero encountered in exp2
  epsneg_f80 = exp2(ld(-64))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:185: RuntimeWarning: divide by zero encountered in exp2
  tiny_f80 = exp2(ld(-16382))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:199: RuntimeWarning: divide by zero encountered in exp2
  eps=exp2(ld(-63)),
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:211: RuntimeWarning: divide by zero encountered in nextafter
  huge_dd = (umath.nextafter(ld(inf), ld(0))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:224: RuntimeWarning: divide by zero encountered in exp2
  eps=exp2(ld(-105)),
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:225: RuntimeWarning: divide by zero encountered in exp2
  epsneg= exp2(ld(-106)),
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\getlimits.py:227: RuntimeWarning: divide by zero encountered in exp2
  tiny=exp2(ld(-1022)))
C:\Users\todds\anaconda3\lib\site-packages\numpy\__init__.py:343: RuntimeWarning: divide by zero encountered in subtract
  if not abs(x.dot(x) - 2.0) < 1e-5:
C:\Users\todds\anaconda3\lib\site-packages\numpy\__init__.py:343: RuntimeWarning: divide by zero encountered in absolute
  if not abs(x.dot(x) - 2.0) < 1e-5:
<frozen importlib._bootstrap>:219: RuntimeWarning: divide by zero encountered in add

In [4]:
nbaallstar = pd.read_csv('NBA All Stars 2000-2016 - Sheet1.csv', sep = ',')
nbaallstar

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

# What team is represented the most during this time?

In [20]:

mostteam = nbaallstar.groupby('Team')['Selection Type'].count().reset_index().sort_values('Selection Type', ascending=False)
mostteam

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:844: RuntimeWarning: divide by zero encountered in not_equal
  mask = (ids != -1) & ~isna(val)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:844: RuntimeWarning: divide by zero encountered in invert
  mask = (ids != -1) & ~isna(val)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:844: RuntimeWarning: divide by zero encountered in bitwise_and
  mask = (ids != -1) & ~isna(val)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2453: RuntimeWarning: divide by zero encountered in equal
  return bool(asarray(a1 == a2).all())
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

                      Team  Selection Type
16              Miami Heat              28
1           Boston Celtics              26
29       San Antonio Spurs              25
14      Los Angeles Lakers              25
11         Houston Rockets              20
0            Atlanta Hawks              18
26            Phoenix Suns              18
7         Dallas Mavericks              18
6      Cleveland Cavaliers              17
31         Toronto Raptors              16
9          Detroit Pistons              15
12          Indiana Pacers              15
24           Orlando Magic              14
13    Los Angeles Clippers              14
23   Oklahoma City Thunder              13
33      Washington Wizards              13
18  Minnesota Timberwolves              12
19         New Jersey Nets              12
5            Chicago Bulls              12
25     Philadelphia Sixers              11
28        Sacramento Kings              11
10   Golden State Warriors              11
22         New York Knicks              10
27  Portland Trail Blazers              10
20     New Orleans Hornets               9
32               Utah Jazz               9
8           Denver Nuggets               9
30     Seattle SuperSonics               8
15       Memphis Grizzlies               6
17         Milwaukee Bucks               5
21    New Orleans Pelicans               4
4        Charlotte Hornets               2
2            Brooklyn Nets               2
3        Charlotte Bobcats               1

# What draft class is represeted the most during this time?

In [25]:
draft = nbaallstar.groupby('NBA Draft Status').count().reset_index().sort_values('Player', ascending=False)
draft

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:483: RuntimeWarning: divide by zero encountered in int_scalars
  nb = self.make_block(vals, BlockPlacement(ref_loc))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,NBA Draft Status,Year,Player,Pos,HT,WT,Team,Selection Type,Nationality
26,1996 Rnd 1 Pick 13,16,16,16,16,16,16,16,16
68,2003 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
35,1997 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
42,1998 Rnd 1 Pick 9,13,13,13,13,13,13,13,13
23,1995 Rnd 1 Pick 5,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...
97,2008 Rnd 1 Pick 10,1,1,1,1,1,1,1,1
31,1996 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
58,2001 Rnd 1 Pick 2,1,1,1,1,1,1,1,1
21,1995 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
122,2013 Rnd 1 Pick 15,1,1,1,1,1,1,1,1

# Are foriegn players more prevalent in the All-Star Game during this time?

In [28]:
foreign = nbaallstar.groupby('Nationality').count().reset_index().sort_values('Selection Type', ascending=False)
foreign

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:483: RuntimeWarning: divide by zero encountered in int_scalars
  nb = self.make_block(vals, BlockPlacement(ref_loc))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,Nationality,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status
18,United States,365,365,365,365,365,365,365,365
9,Germany,13,13,13,13,13,13,13,13
16,Spain,9,9,9,9,9,9,9,9
2,Canada\nSouth Africa,8,8,8,8,8,8,8,8
3,China,8,8,8,8,8,8,8,8
7,France,6,6,6,6,6,6,6,6
5,Dominican Republic\nUnited States,4,4,4,4,4,4,4,4
19,United States\nAustralia,4,4,4,4,4,4,4,4
15,Serbia\nGreece,3,3,3,3,3,3,3,3
12,Lithuania,2,2,2,2,2,2,2,2
0,Argentina,2,2,2,2,2,2,2,2
10,Germany\nUnited States,2,2,2,2,2,2,2,2
6,England\nSouth Sudan,2,2,2,2,2,2,2,2
4,Democratic Republic of the Congo,2,2,2,2,2,2,2,2
8,France\nUnited States,2,2,2,2,2,2,2,2
20,United States\nGermany,1,1,1,1,1,1,1,1
17,Turkey,1,1,1,1,1,1,1,1
11,Greece\nNigeria,1,1,1,1,1,1,1,1
14,Serbia,1,1,1,1,1,1,1,1
13,Russia,1,1,1,1,1,1,1,1
1,Canada,1,1,1,1,1,1,1,1
21,United States\nSpain,1,1,1,1,1,1,1,1

# How often are the Western All-Stars voted in by fans?

In [29]:
vote = nbaallstar.groupby('Selection Type').count().reset_index().sort_values('Selection Type', ascending=False)
vote

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:483: RuntimeWarning: divide by zero encountered in int_scalars
  nb = self.make_block(vals, BlockPlacement(ref_loc))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,Selection Type,Year,Player,Pos,HT,WT,Team,NBA Draft Status,Nationality
5,Western All-Star Replacement Selection,15,15,15,15,15,15,15,15
4,Western All-Star Fan Vote Selection,85,85,85,85,85,85,85,85
3,Western All-Star Coaches Selection,119,119,119,119,119,119,119,119
2,Eastern All-Star Replacement Selection,16,16,16,16,16,16,16,16
1,Eastern All-Star Fan Vote Selection,85,85,85,85,85,85,85,85
0,Eastern All-Star Coaches Selection,119,119,119,119,119,119,119,119

# How many times does Steph Curry make the All-Star game during this time period?

In [36]:
curry = nbaallstar[nbaallstar['Team'] == 'Golden State Warriors'].groupby(['Player']).count()
curry

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:483: RuntimeWarning: divide by zero encountered in int_scalars
  nb = self.make_block(vals, BlockPlacement(ref_loc))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)

,Year,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
Player,,,,,,,,
David Lee,1,1,1,1,1,1,1,1
Draymond Green,2,2,2,2,2,2,2,2
Kevin Durant,1,1,1,1,1,1,1,1
Klay Thompson,3,3,3,3,3,3,3,3
Stephen Curry,4,4,4,4,4,4,4,4

# How many Shooting Gaurds have made the All-Star game during this time?

In [38]:
sguard = nbaallstar.groupby('Pos').count().reset_index().sort_values('Selection Type', ascending=False)
sguard

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:483: RuntimeWarning: divide by zero encountered in int_scalars
  nb = self.make_block(vals, BlockPlacement(ref_loc))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,Pos,Year,Player,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
4,G,72,72,72,72,72,72,72,72
3,FC,61,61,61,61,61,61,61,61
7,PF,57,57,57,57,57,57,57,57
10,SG,57,57,57,57,57,57,57,57
0,C,50,50,50,50,50,50,50,50
1,F,45,45,45,45,45,45,45,45
8,PG,36,36,36,36,36,36,36,36
9,SF,35,35,35,35,35,35,35,35
6,GF,22,22,22,22,22,22,22,22
2,F-C,3,3,3,3,3,3,3,3
5,G-F,1,1,1,1,1,1,1,1

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [39]:
bulls = nbaallstar[nbaallstar['Team'] == 'Chicago Bulls'].count()
bulls

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in greater_equal
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in less
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in bitwise_or
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:47: RuntimeWarning: divide by zero encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2453: RuntimeWarning: divide by zero encountered in equal
  return bool(asarray(a1 == a2).all())
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)

Year                12
Player              12
Pos                 12
HT                  12
WT                  12
Team                12
Selection Type      12
NBA Draft Status    12
Nationality         12
dtype: int64